.animate {
  &.fadein {
    animation: fadein 500ms;
  }
}

.fade-enter-active {
  animation: fadein 500ms;
}

.fade-leave-active {
  animation: fadein 500ms reverse;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
