# Code Owners
## See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*.js  @matthewpi
*.php @lancepioch
database/Seeders/eggs/* @parkervcp
