/vendor
*.DS_Store*
.env
.vagrant/*
.vscode/*
storage/framework/*
/.idea

composer.lock
node_modules

_ide_helper_models.php
_ide_helper.php

sami.phar
/.sami

/docker-compose.yml
# for image related files
misc
.phpstorm.meta.php
