parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of function strtoupper expects string, int\\|string given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/AppSettingsCommand.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/AppSettingsCommand.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/AppSettingsCommand.php

		-
			message: "#^Parameter \\#1 \\$string of function strtoupper expects string, int\\|string given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/DatabaseSettingsCommand.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/DatabaseSettingsCommand.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/DatabaseSettingsCommand.php

		-
			message: "#^Parameter \\#1 \\$string of function strtoupper expects string, int\\|string given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/EmailSettingsCommand.php

		-
			message: "#^Parameter \\#1 \\$value of function studly_case expects string, array\\|bool\\|string given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/EmailSettingsCommand.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match_all expects string, string\\|false\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/EmailSettingsCommand.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Environment/EmailSettingsCommand.php

		-
			message: "#^Parameter \\#1 \\$action of method Pterodactyl\\\\Repositories\\\\Wings\\\\DaemonPowerRepository\\:\\:send\\(\\) expects string, array\\|string\\|null given\\.$#"
			count: 1
			path: app/Console/Commands/Server/BulkPowerActionCommand.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, array\\|bool\\|string given\\.$#"
			count: 2
			path: app/Console/Commands/Server/BulkPowerActionCommand.php

		-
			message: "#^Binary operation \"\\.\" between 'download/v' and array\\|bool\\|string\\|null results in an error\\.$#"
			count: 1
			path: app/Console/Commands/UpgradeCommand.php

		-
			message: "#^Cannot access offset 'name' on array\\|false\\.$#"
			count: 2
			path: app/Console/Commands/UpgradeCommand.php

		-
			message: "#^Method Pterodactyl\\\\Console\\\\Commands\\\\UpgradeCommand\\:\\:getUrl\\(\\) should return string but returns array\\|bool\\|string\\|null\\.$#"
			count: 1
			path: app/Console/Commands/UpgradeCommand.php

		-
			message: "#^Parameter \\#1 \\$group_id of function posix_getgrgid expects int, int\\|false given\\.$#"
			count: 1
			path: app/Console/Commands/UpgradeCommand.php

		-
			message: "#^Parameter \\#1 \\$user_id of function posix_getpwuid expects int, int\\|false given\\.$#"
			count: 1
			path: app/Console/Commands/UpgradeCommand.php

		-
			message: "#^Binary operation \"\\.\" between array\\|string and '\\.' results in an error\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Possibly invalid array key type array\\|string\\.$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Unable to resolve the template type TReturn in call to method Illuminate\\\\Support\\\\Collection\\<mixed,array\\<int, mixed\\>\\>\\:\\:flatMap\\(\\)$#"
			count: 1
			path: app/Exceptions/Handler.php

		-
			message: "#^Possibly invalid array key type array\\<string\\>\\|string\\.$#"
			count: 1
			path: app/Extensions/Backups/BackupManager.php

		-
			message: "#^Parameter \\#1 \\$message of static method Illuminate\\\\Log\\\\Logger\\:\\:info\\(\\) expects string, string\\|false given\\.$#"
			count: 2
			path: app/Http/Controllers/Api/Application/Eggs/EggController.php

		-
			message: "#^Parameter \\#2 \\$content of method Pterodactyl\\\\Services\\\\Eggs\\\\Sharing\\\\EggImporterService\\:\\:handleContent\\(\\) expects string, resource\\|string given\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Application/Nests/NestController.php

		-
			message: "#^Parameter \\#1 \\$perPage of method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\<Pterodactyl\\\\Models\\\\Backup\\>\\:\\:paginate\\(\\) expects int\\|null, array\\|int\\|string given\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Client/Servers/BackupController.php

		-
			message: "#^Parameter \\#2 \\$content of method Pterodactyl\\\\Repositories\\\\Wings\\\\DaemonFileRepository\\:\\:putContent\\(\\) expects string, resource\\|string given\\.$#"
			count: 1
			path: app/Http/Controllers/Api/Client/Servers/FileController.php

		-
			message: "#^Parameter \\#1 \\$string of function md5 expects string, string\\|false given\\.$#"
			count: 1
			path: app/Http/Controllers/Base/LocaleController.php

		-
			message: "#^Parameter \\#1 \\$key of method Illuminate\\\\Routing\\\\Router\\:\\:bind\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: app/Http/Middleware/Api/Application/SubstituteApplicationApiBindings.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, resource\\|string given\\.$#"
			count: 1
			path: app/Http/Middleware/Api/IsValidJson.php

		-
			message: "#^Parameter \\#1 \\$array of function array_get expects array\\|ArrayAccess, array\\<string, int\\|string\\>\\|false given\\.$#"
			count: 1
			path: app/Http/Middleware/VerifyReCaptcha.php

		-
			message: "#^Parameter \\#1 \\$value of function snake_case expects string, int\\|string given\\.$#"
			count: 1
			path: app/Http/Requests/Api/Application/Nodes/StoreNodeRequest.php

		-
			message: "#^Method Pterodactyl\\\\Jobs\\\\Schedule\\\\RunTaskJob\\:\\:__construct\\(\\) has parameter \\$manualRun with no typehint specified\\.$#"
			count: 1
			path: app/Jobs/Schedule/RunTaskJob.php

		-
			message: "#^Parameter \\#2 \\$column of static method Illuminate\\\\Validation\\\\Rule\\:\\:unique\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: app/Models/Model.php

		-
			message: "#^Method Pterodactyl\\\\Models\\\\Node\\:\\:getJsonConfiguration\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: app/Models/Node.php

		-
			message: "#^Method Pterodactyl\\\\Repositories\\\\Eloquent\\\\EloquentRepository\\:\\:updateOrCreate\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Model but returns bool\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\.$#"
			count: 1
			path: app/Repositories/Eloquent/EloquentRepository.php

		-
			message: "#^Parameter \\#1 \\.\\.\\.\\$model of method Pterodactyl\\\\Repositories\\\\Repository\\:\\:initializeModel\\(\\) expects class\\-string\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>, mixed given\\.$#"
			count: 1
			path: app/Repositories/Repository.php

		-
			message: "#^Parameter \\#2 \\$content of method Pterodactyl\\\\Services\\\\Eggs\\\\Sharing\\\\EggImporterService\\:\\:handleContent\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Services/Eggs/Sharing/EggImporterService.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: app/Services/Eggs/Sharing/EggUpdateImporterService.php

		-
			message: "#^Parameter \\#1 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:snake\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: app/Services/Eggs/Variables/VariableCreationService.php

		-
			message: "#^Parameter \\#1 \\$value of static method Illuminate\\\\Support\\\\Str\\:\\:snake\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: app/Services/Eggs/Variables/VariableUpdateService.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: app/Services/Helpers/SoftwareVersionService.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, string\\|false given\\.$#"
			count: 1
			path: app/Services/Helpers/SoftwareVersionService.php

		-
			message: "#^Parameter \\#1 \\$id of method Lcobucci\\\\JWT\\\\Builder\\:\\:identifiedBy\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: app/Services/Nodes/NodeJWTService.php

		-
			message: "#^Parameter \\#1 \\$name of method Lcobucci\\\\JWT\\\\Builder\\:\\:withClaim\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: app/Services/Nodes/NodeJWTService.php

		-
			message: "#^Parameter \\#1 \\$key of method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:setAttribute\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: app/Services/Servers/ServerConfigurationStructureService.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Pterodactyl\\\\Models\\\\Allocation\\>\\|Pterodactyl\\\\Models\\\\Allocation\\:\\:\\$node_id\\.$#"
			count: 1
			path: app/Services/Servers/ServerCreationService.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Pterodactyl\\\\Models\\\\Egg\\>\\|Pterodactyl\\\\Models\\\\Egg\\:\\:\\$nest_id\\.$#"
			count: 1
			path: app/Services/Servers/ServerCreationService.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|false given\\.$#"
			count: 1
			path: app/Services/Subusers/SubuserCreationService.php

		-
			message: "#^Parameter \\#1 \\$string of function urlencode expects string, array\\|string\\|null given\\.$#"
			count: 1
			path: app/Services/Users/TwoFactorSetupService.php

		-
			message: "#^Cannot call method getResourceName\\(\\) on \\(callable&class\\-string\\)\\|\\(callable&object\\)\\|League\\\\Fractal\\\\TransformerAbstract\\.$#"
			count: 2
			path: app/Transformers/Api/Transformer.php

		-
			message: "#^Cannot call method setTimezone\\(\\) on Carbon\\\\CarbonImmutable\\|false\\.$#"
			count: 1
			path: app/Transformers/Api/Transformer.php

		-
			message: "#^Parameter \\#1 \\$object_or_class of function method_exists expects object\\|string, \\(callable\\)\\|League\\\\Fractal\\\\TransformerAbstract given\\.$#"
			count: 2
			path: app/Transformers/Api/Transformer.php

