includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 2

    ignoreErrors:
        # Ignore dynamic methods from 3rd Party Vendor
        - '#Call to an undefined method Prologue\\Alerts\\AlertsMessageBag::(success|info|warning|danger)\(\)#'

        # Ignore repository interface missing methods
        - '#Call to an undefined method Pterodactyl\\Repositories\\Wings\\DaemonRepository::(\w+)\(\)#'

        # Ignore magic spatie calls
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::allowed(\w+)\(\)#'

    excludePaths:
        - app/Repositories

#
#    checkMissingIterableValueType: false
