includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    # Level 9 is the highest level
    level: 4
    paths:
        - app/
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::allowed(\w+)\(\)#'
        - '#Call to an undefined method Prologue\\Alerts\\AlertsMessageBag::(success|warning|danger|info)\(\)#'
    excludePaths:
        - app/Repositories
        # More magic spatie to be replaced
        - app/Extensions/Spatie/Fractalistic/Fractal.php
    #
    #    checkMissingIterableValueType: false
