assets/*.*

!assets/svgs/
!assets/svgs/*.svg

!assets/img/
!assts/img/*.png
!assets/img/*.jpg
!assets/img/*.jpeg
!assets/img/*.webp


!assets/fonts/*
assets/fonts/*.non-cf.css
assets/fonts/IBMPlexMono/
assets/fonts/IBMPlexSans/
assets/fonts/Rubik/
assets/fonts/SourceCodePro/
