:8080 {
	root * /var/www/pterodactyl/public/
	file_server

	header {
		-Server
		-X-Powered-By
		Referrer-Policy "same-origin"
		X-Frame-Options "deny"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
	}

	encode gzip zstd

	php_fastcgi 127.0.0.1:9000 {
		trusted_proxies 172.20.0.0/16
	}

	@startsWithDot {
		path \/\.
		not path .well-known
	}
	rewrite @startsWithDot /index.php{uri}

	@phpRewrite {
		not file favicon.ico
	}
	try_files @phpRewrite {path} {path}/ /index.php?{query}
}
